@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.5px;
}

:root {
  /* typography */
  --paragraph-font-size: 1rem;
  --form-information-font-size: 0.8rem;
  --button-text-fontpsize: 1.5rem;
  --font-color: #37145a;

  /* border */
  --border-radius: 2rem;
  --button-and-input-border-radius: 1rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #140424;
}

a:focus {
  color: #140424;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #9b9fb0 0%, #764ba2 100%);
}

.logo-container {
  width: 10%;
  height: auto;
}

.logo-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-container {
  width: 50%;
  height: stretch;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.image-container img {
  width: 100%;
  height: 100%;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.header {
  width: 100%;
  height: auto;
  padding: 2rem 8rem;
}

.form-body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.body-content-container {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  border: 2px solid;
  border-color: #9077a9;
  border-radius: var(--border-radius);
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
}

.login-container {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  padding: 2rem 4rem;
  background-color: #d6c4d3;
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.login-form-title-texts {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.5rem;
}

.login-form-title-texts h1 {
  font-size: clamp(1rem, 2vw + 1rem, 2rem);
  color: var(--font-color);
  font-weight: 500;
}

.login-form-title-texts p {
  font-size: var(--form-information-font-size);
  color: var(--font-color);
}

.form {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 1rem;
}

.input-group {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  column-gap: 1rem;
  row-gap: 0.5rem;
  position: relative;
}

.input-group label {
  font-size: 0.8rem;
  font-weight: 500;
  padding-left: 0.3rem;
  color: var(--font-color);
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  background-color: rgb(207, 191, 191);
  border-radius: var(--button-and-input-border-radius);
  border: 1px solid;
  border-color: var(--font-color);
}

.input-group input:focus {
  width: 100%;
  padding: 0.8rem;
  background-color: #f3e0ee;
  border-radius: var(--button-and-input-border-radius);
  border: 1px solid;
  border-color: var(--font-color);
}

.input-group button {
  background-color: rgb(207, 191, 191);
  position: absolute;
  bottom: 0.9rem;
  right: 1rem;
  border: none;
  color: gray;
}

.remember-me-forgot-password-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.remember-me-forgot-password-container a:hover {
  color: #37145a;
}

.remember-me-input-group {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
}

.remember-me-input-group label {
  font-size: var(--form-information-font-size);
  color: var(--font-color);
}

.remember-me-forgot-password-container a {
  font-size: var(--form-information-font-size);
  color: rgb(34, 34, 185);
}

.button-container {
  width: 100%;
  height: auto;
}

.button-container button {
  width: 100%;
  height: auto;
  background-color: #37145a;
  padding: 1rem;
  color: rgb(234, 238, 241);
  border: none;
  outline: none;
  border-radius: var(--button-and-input-border-radius);
  font-weight: 600;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #663a92;
}

.button-container button:active {
  background-color: #663a92;
  border: 1.5px solid black;
}

.button-container button:focus {
  background-color: #663a92;
  border: 1.5px solid black;
}

.form-login-bottom-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 1rem;
}

.divider {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #555;
}

.divider span {
  font-size: var(--form-information-font-size);
  color: var(--font-color);
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #280707;
}

.divider:not(:empty)::before {
  margin-right: 0.75em;
}

.divider:not(:empty)::after {
  margin-left: 0.75em;
}

.google-github-options-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.sso-container {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  column-gap: 0.3rem;
  padding: 0.5rem 2rem;
  background-color: rgba(174, 159, 193, 2);
  border-radius: 1rem;
  cursor: pointer;
  color: #37145a;
}

.sso-container:hover {
  color: #442ce4;
}

.sso-container i {
  position: relative;
  top: 1px;
}

.sign-up-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
}

.sign-up-container p {
  font-size: var(--form-information-font-size);
  color: var(--font-color);
}

.sign-up-container a {
  color: rgb(34, 34, 185);
}

.sign-up-container a:hover {
  color: #37145a;
}

@media screen and (max-width: 1140px) {
  .form-body {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .body-content-container {
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #9077a9;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
  }

  .header {
    width: 100%;
    height: auto;
    padding: 2rem 2rem;
  }
}

/* @media screen and (max-width: 480px) {
  .body-content-container {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    border-color: #9077a9;
    border-radius: var(--border-radius);
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.05);
    flex-wrap: wrap;
  }

  .login-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
    padding: 2rem 4rem;
    background-color: #d6c4d3;
    border-top-left-radius: var(--border-radius);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
  }

  .image-container {
    display: none;
  }
} */

@media screen and (max-width: 480px) {
  .body-content-container {
    width: 95%;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius);
  }

  .login-container {
    width: 100%;
    padding: 2rem;
    border-radius: var(--border-radius);
  }

  .image-container {
    display: none; /* Hide the right-side image for phones */
  }

  .header {
    padding: 1.5rem 2rem;
    text-align: center;
  }

  .logo-container {
    width: 25%;
    margin: 0 auto;
  }

  .login-form-title-texts h1 {
    font-size: 1.5rem;
  }

  .button-container button {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .input-group input {
    font-size: 0.9rem;
  }

  .remember-me-forgot-password-container {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 0.5rem;
  }

  .google-github-options-container {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .sso-container {
    width: 100%;
    justify-content: center;
  }
}
