@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  letter-spacing: -0.1px;
}

:root {
  --container-padding: 1rem;

  /* typography */
  --headers-font-family: "Climate Crisis", sans-serif;
  --headers-letter-spacing: 1px;
}

body {
  padding: var(--container-padding);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  row-gap: 10rem;
  /* background: linear-gradient(rgba(233, 225, 231, 0.3), rgba(113, 37, 170, 0.3)),
    url(./Images/Header\ Background.jpeg); */
  background: url(./Images/Header\ Background.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 1rem;
  padding: var(--container-padding);
}

.header-title-and-menus {
  width: 100%;
  height: auto;
  display: flex;
  flex: row;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  width: fit-content;
  height: auto;
}

.header-title h2 {
  font-size: clamp(0.5rem, 1vh + 1rem, 1.5rem);
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
}

.header-menus {
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 1.5rem;
}

.header-menus a {
  color: white;
  font-size: 1rem;
}

.header-menus a:hover {
  color: black;
}

.header-menus a:active {
  color: blue;
}

.header-menus a:focus {
  color: blue;
}

.header-login-signup {
  width: fit-content;
  height: auto;
  /* background-color: rgba(199, 183, 183, 0.5); */
}
.header-login-signup button {
  color: white;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  background-color: rgba(199, 183, 183, 0.5);
  cursor: pointer;
  outline: none;
  border: none;
  font-weight: 500;
  font-size: 1rem;
}

.header-login-signup button:hover {
  background-color: rgba(108, 106, 106, 0.5);
}

.header-body {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  row-gap: 3rem;
}

.header-body-title {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  line-height: 50px;
}

.header-body-title h2 {
  font-family: var(--headers-font-family);
  font-size: clamp(1rem, 1vw + 1rem, 3rem);
  letter-spacing: var(--headers-letter-spacing);
  color: #e8cbcb;
}

.header-body-title h1 {
  font-family: var(--headers-font-family);
  font-size: clamp(1.5rem, 1vw + 3rem, 4rem);
  letter-spacing: var(--headers-letter-spacing);
  color: #ffffff;
}

.header-body-texts {
  width: 70%;
  height: auto;
  text-align: center;
  line-height: 20px;
}

.header-buttons {
  width: fit-content;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.header-buttons button {
  border: none;
  outline: none;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
}

.header-buttons button:hover {
  background-color: rgb(54, 52, 52);
  color: white;
}

.discover-adventures-button {
  cursor: pointer;
  background-color: #ffffff;
  color: rgb(19, 29, 215);
  font-weight: 600;
}

.talk-to-a-specialist-button {
  cursor: pointer;
  background-color: rgba(199, 183, 183, 0.5);
  color: #ffffff;
  font-weight: 600;
}

.travel-locations-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin-top: 2rem;
  column-gap: 1rem;
  max-width: 100rem;
}

.travel-locations-left {
  width: 50%;
  height: 50rem;
  background: linear-gradient(rgba(12, 10, 10, 0.1), rgba(12, 10, 10, 1)),
    url(./Images/Kyoto\ Background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 2rem;
}

.travel-locations-right {
  width: 50%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.travel-locations-right-top {
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(12, 10, 10, 0.1), rgba(12, 10, 10, 1)),
    url(./Images/Pentagonia.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 2rem;
}

.travel-locations-right-bottom {
  width: 100%;
  height: 50%;
  background: linear-gradient(rgba(12, 10, 10, 0.1), rgba(12, 10, 10, 1)),
    url(./Images/Santorini\ background.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 2rem;
}

.travel-location-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.travel-location-item h2 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
}

.travel-location-item p {
  font-weight: 300;
  font-size: 0.8rem;
}

.travel-location-item a {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 0.5rem;
  padding: 0.5rem 0;
  border-bottom: 1px solid;
}
.travel-location-item a:hover {
  color: rgb(209, 110, 209);
}

.travel-location-item a:focus {
  color: blue;
}

.overwhelmed-by-choice-section {
  width: 100%;
  height: auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 5rem 5rem;
  color: white;
  border-radius: 1rem;
  background: linear-gradient(to right, rgb(70, 61, 232), rgb(125, 125, 215));
  max-width: 100rem;
}

.overwhelmed-by-choice-heading {
  width: 70%;
  height: auto;
  text-align: center;
}

.overwhelmed-by-choice-heading h1 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1rem, 1vw + 1rem, 3rem);
}

.overwhelmed-by-choice-text {
  width: 50%;
  height: auto;
  text-align: center;
}

.overwhelmed-by-choice-text p {
  line-height: 20px;
}

.overwhelmed-by-choice-button {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overwhelmed-by-choice-button button {
  background-color: white;
  color: rgb(101, 75, 233);
  outline: none;
  border: none;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  cursor: pointer;
  font-weight: 500;
  font-size: 1rem;
}

.overwhelmed-by-choice-button button:hover {
  color: white;
  background-color: rgb(70, 61, 232);
}

.review-item-left {
  width: 7rem;
  height: 10rem;
  border-radius: 1rem;
}

.review-item-left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

.hear-from-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
  margin-top: 2rem;
  padding: 0 5rem;
  max-width: 100rem;
}

.hear-from-section-left {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.hear-from-section-left h2 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
  color: rgb(118, 114, 114);
}

.hear-from-section-left h1 {
  width: 10rem;
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1.5rem, 1vw + 4rem, 5rem);
  color: rgb(63, 63, 173);
  line-height: 5rem;
  margin-bottom: 1rem;
}

.hear-from-section-left button {
  width: fit-content;
  height: auto;
  color: white;
  background-color: rgb(63, 63, 173);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 2rem;
  border: none;
  outline: none;
  border-radius: 1rem;
  column-gap: 0.5rem;
  font-weight: 500;
  cursor: pointer;
  font-size: 1rem;
}

.hear-from-section-left button:hover {
  background-color: rgb(79, 76, 76);
}

.hear-from-section-right {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  row-gap: 1rem;
}

.review-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
  background-color: rgb(237, 235, 235);
  padding: 0.5rem;
  border-radius: 1rem;
}

.review-item-right {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1.5rem;
  padding: 1rem 0;
}

.review-item-right-texts {
  font-size: 1rem;
  color: rgb(120, 116, 116);
}

.review-item-right-headers {
  width: fit-content;
  height: auto;
}

.review-item-right-headers h3 {
  color: rgb(81, 79, 79);
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
}

.faq-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  margin-top: 10rem;
  padding: 0 5rem;
  max-width: 100rem;
}

.faq-section-heading {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: end;
  margin-bottom: 0.5rem;
}

.faq-section-heading h2 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1rem, 1vw + 1.5rem, 3rem);
  color: rgb(118, 114, 114);
}

.faq-section-heading h1 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1.5rem, 1vw + 4rem, 5rem);
  color: rgb(63, 63, 173);
}

.faq-questions-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 1rem;
}

.faq-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}

.faq-item a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  color: rgb(120, 116, 116);
  font-size: 1.2rem;
  padding: 1rem 1rem;
  border-bottom: 0.1px solid rgb(225, 223, 223);
  margin: 0.5rem 0;
}

.faq-item a:hover {
  color: blue;
}

.faq-item-opened {
  background-color: rgb(237, 235, 235);
  border-radius: 1rem;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  padding: 1rem 1rem;
}

.faq-item-opened-texts {
  color: rgb(120, 116, 116);
  font-size: 1.2rem;
}

.faq-item-opened-texts a {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  color: rgb(120, 116, 116);
  font-size: 1.2rem;
  row-gap: 1rem;
}

.faq-opened {
  color: rgb(0, 0, 255);
}

.footer-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  background-color: #000000;
  border: 1rem;
  color: white;
  padding: 4rem;
  column-gap: 6rem;
  border-radius: 1rem;
  margin-top: 5rem;
}

.footer-left-section {
  width: 50%;
  height: auto;
}

.footer-left-section h1 {
  font-family: var(--headers-font-family);
  letter-spacing: var(--headers-letter-spacing);
  font-size: clamp(1.5rem, 1vw + 4rem, 5rem);
}

.footer-right-section {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
}

.footer-right-section-item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  row-gap: 2rem;
}

.footer-right-section-item-top {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer-right-section-item-top p {
  color: rgb(120, 116, 116);
  font-size: 1rem;
  font-weight: 300;
}

.footer-right-section-item-top a {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 300;
}

.footer-right-section-item-top a:hover {
  color: blue;
}

.footer-right-section-item-top a:focus {
  color: blue;
}

.footer-right-section-item-bottom {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.footer-right-section-item-bottom p {
  color: rgb(120, 116, 116);
  font-size: 1rem;
  font-weight: 300;
}

.footer-right-section-item-bottom a {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  font-weight: 300;
}

.footer-right-section-item-bottom a:hover {
  color: blue;
}

.footer-right-section-item-bottom a:focus {
  color: blue;
}

.copyright-section {
  width: 100%;
  height: auto;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-weight: 200;
}

/* --------------------------- */
/* MOBILE DEVICES (max-width: 480px) */
/* --------------------------- */
@media screen and (max-width: 480px) {
  body {
    padding: 0.5rem;
  }

  .header {
    row-gap: 3rem;
    padding: 1.5rem;
    height: auto;
    border-radius: 0.5rem;
  }

  .header-title-and-menus {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
    text-align: center;
  }

  .header-menus {
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
  }

  .header-body {
    width: 100%;
    row-gap: 2rem;
  }

  .header-body-texts {
    width: 100%;
    font-size: 0.9rem;
  }

  .header-buttons {
    flex-direction: column;
    row-gap: 1rem;
  }

  .travel-locations-section {
    flex-direction: column;
    height: auto;
  }

  .travel-locations-left,
  .travel-locations-right,
  .travel-locations-right-top,
  .travel-locations-right-bottom {
    width: 100%;
    height: 25rem;
    padding: 1.2rem;
  }

  .overwhelmed-by-choice-section {
    padding: 2rem 1rem;
  }

  .overwhelmed-by-choice-heading,
  .overwhelmed-by-choice-text,
  .overwhelmed-by-choice-button {
    width: 100%;
  }

  .hear-from-section {
    flex-direction: column;
    padding: 1rem;
  }

  .hear-from-section-left,
  .hear-from-section-right {
    width: 100%;
  }

  .faq-section {
    padding: 1rem;
  }

  .footer-container {
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
  }

  .footer-left-section,
  .footer-right-section {
    width: 100%;
  }

  .footer-right-section {
    flex-direction: column;
    row-gap: 2rem;
  }
}

/* --------------------------- */
/*TABLETS (max-width: 1140px) */
/* --------------------------- */
@media screen and (max-width: 1140px) {
  body {
    padding: 1rem;
  }

  .header {
    row-gap: 5rem;
    padding: 2rem;
  }

  .header-title-and-menus {
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    text-align: center;
  }

  .header-title {
    margin-bottom: 1rem;
  }

  .header-menus {
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .header-login-signup {
    margin-top: 1rem;
  }

  .header-body {
    width: 100%;
    padding: 0 1rem;
  }

  .header-body-texts {
    width: 90%;
  }

  .travel-locations-section {
    flex-direction: column;
    row-gap: 1rem;
  }

  .travel-locations-left,
  .travel-locations-right,
  .travel-locations-right-top,
  .travel-locations-right-bottom {
    width: 100%;
    height: 30rem;
  }

  .overwhelmed-by-choice-section {
    padding: 3rem 2rem;
  }

  .overwhelmed-by-choice-heading,
  .overwhelmed-by-choice-text,
  .overwhelmed-by-choice-button {
    width: 100%;
  }

  .hear-from-section {
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
  }

  .hear-from-section-left,
  .hear-from-section-right {
    width: 100%;
  }

  .faq-section {
    padding: 2rem;
  }

  .footer-container {
    flex-direction: column;
    padding: 2rem;
    row-gap: 2rem;
  }

  .footer-left-section,
  .footer-right-section {
    width: 100%;
  }

  .footer-right-section {
    flex-direction: column;
    row-gap: 2rem;
  }
}
